.erjifontover61043{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont61043{ font-weight: bold; font-size: 9pt; color: #ffffff ;}
.erjibackground61043{ background-color: #eff8fe ;}
.currentfontStyle61043{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle61043{ color: #ffffff; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.yijifontover61043{ color: #ffffff; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover61043{ background-color: #e8f0fb ;}
.ejfontstyle61043{ font-size: 9pt; color: #222222; line-height: 160% ;}

.windowstyle61050{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}

.splitflagstyle61051{ color: #222222 ;}
.fontstyle61051{ font-size: 9pt; color: #222222; text-decoration: none ;}
.winstyle61051{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.timestyle61057{ font-size: 9pt ;}
.leaderfont61057{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle61057{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.morestyle61057{ font-size: 9pt ;}

.footstyle61054{ font-size: 9pt ;}
.votestyle61054{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.navstyle61054{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.pagestyle61054{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.authorstyle61054{ font-size: 9pt ;}
.contentstyle61054{ font-size: 9pt; line-height: 150% ;}
.titlestyle61054{ font-weight: bold; font-size: 12pt ;}
.contextstyle61054{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.votetitlestyle61054{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.timestyle61054{ font-size: 9pt ;}
.winstyle61054{ font-size: 9pt; font-family: 宋体 ;}
.c61054_content span{
    font-size:100%;}
.splitcharstyle61048{ font-size: 9pt; color: #ffffff; font-family: 宋体 ;}
.font61048{ font-size: 9pt; color: #ffffff; font-family: 宋体; text-decoration: none ;}

